main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#guess {
  width: 5em;
}

#reset {
  margin: 20px;
}

#below-zero {
  color: red;
}

#up-max {
  color: red;
}

#correct {
  color: rgb(8, 162, 8);
}
